@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Miriam Libre';
    src: url('/fonts/MiriamLibre-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Miriam Libre';
    src: url('/fonts/MiriamLibre-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
}

@keyframes leftright {
  0%,
  to {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes updown {
  0%,
  50%,
  to {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

html{
  scroll-behavior: smooth;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FCA311;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

menu > button > div {
  transition: all 0.5s ease-in-out !important;
}

menu > div {
  transition: all 0.5s ease-in-out !important;
}

.menu-closed > div:nth-child(1) {
  transform: translateY(0%) rotate(0deg);
}
.menu-open > div:nth-child(1) {
  transform: translateY(0%) rotate(408deg);
}

.menu-closed > div:nth-child(2) {
  opacity: 1;
}
.menu-open > div:nth-child(2) {
  opacity: 0;
}

.menu-closed > div:nth-child(3) {
  transform: translateY(0%) rotate(0deg);
}
.menu-open > div:nth-child(3) {
  transform: translateY(-600%) rotate(-408deg);
}

.hero {
  background: radial-gradient(
    circle,
    rgba(255, 211, 155, 1) 20%,
    rgba(255, 192, 111, 1) 40%,
    rgba(255, 173, 67, 1) 60%,
    rgba(255, 230, 128, 1) 80%,
    rgba(227, 199, 168, 1) 100%
  );
  /* background: linear-gradient(-45deg, #CDB39C, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.vertical-timeline-element-date {
  font-size: 1rem !important; }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



 .ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  padding-top:4px;
  padding-bottom:4px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.ctaButtonSpan {
  position: relative;
  z-index: 2;
}

.ctaButton:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FCA311;
  transition: all .35s;
}


.ctaButton:hover{
  color: black;
}


.ctaButton:hover:after{
  width: 100%;
}

.ctaButton:disabled {
  pointer-events: none;
}

.bw-saturation {
  filter: grayscale(100%) saturate(65%);
}




