@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Miriam Libre';
    src: url('/fonts/MiriamLibre-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
  }



  @keyframes leftright{0%,to{transform:translateX(-5px)}50%{transform:translateX(5px)}}


  @keyframes updown{0%,50%,to{transform:translateY(0)}25%{transform:translateY(5px)}75%{transform:translateY(-5px)}}



  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  html { scroll-behavior: smooth; }

